@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
body {
  background-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #c2c2d6;
  padding: 30px 0;
}
.wrapper .sidebar h2 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-family: "Oswald", sans-serif;
}
.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}
#header {
  padding: 20px;
  background-color: #ffffff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}
.info {
  margin: 20px;
  background-color: #ffffff;
  color: #717171;
  font-family: "Oswald", sans-serif;
  line-height: 25px;
  margin-right: 500px;
}
#img_portrett {
  width: 20%;
  position: fixed;
  right: 50px;
  border-radius: 100%;
  padding: 10px;
}
.fas {
  color: #717171;
  margin-right: 10px;
}
ul > li > a {
  color: #717171;
}

.wrapper .sidebar ul li:hover {
  background-color: #ceced8;
}
