.content {
    max-width: 1000px;
    margin: 1em auto;
}
.figure {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 2em 0;
}
.figure img {
    width: 600px;
}
.figure p {
    font-size: 1.2em;
    line-height: 2em;
}